body {
    background-color: rgb(80, 64, 78);
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}

div {
    line-height: 100px;
}

#calculator {
    margin: 75px auto 0;
    text-align: center;
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-rows: 15% 85%;
}

#display {
    background-color: rgb(56, 1, 53);
    padding: 0 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(227, 169, 230);
    text-align: end;
}

.operator {
    background-color: rgb(171, 121, 161);
    border: 1px solid lightgray;
}

#point,
#cancel,
.digit {
    border: 1px solid lightgray;
    background-color: white;
    padding: 0px 0;
}

#keyboard {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#zero {
    border-bottom-left-radius: 20px;
}

#equals {
    border-bottom-right-radius: 20px;
    background-color: rgba(187, 21, 202, 0.857);
    border: 1px solid lightgray;
    line-height: 400px;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column: 4;
}